@use 'variaveis';

.footer {
    display: flex;
    width: 100%;
    padding: 1vw 5.6vw 0.5vw 5.6vw;
    background-color: variaveis.$backgroundDarker;
    justify-content: center;
    
    h3 {
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: 600;
        text-transform: capitalize;
        font-style: italic;

        a {
            margin-left: 8px;
            display: flex;

            img {
                height: 29px;
                transition: height .2s ease;
                
                &:hover {
                    height: 32px;
                    transition: height .2s ease;
                }
            }
        }
    }
    
}